{% extends "layout.html"%}
{% block head %}
{{super()}}
{% endblock %}

{% block content %}
<p> Hey! This is our project for software development class. We take your query and return the results of that search </p>
<br>
<table class="table table-striped table-hover">
  <tr>
    <th>Name</th><th>Github</th>
  </tr>
  <tr>
    <td>Derrick Lui</td><td><a href="https://github.com/dlui220"></a></td>
  </tr>
  <tr>
    <td>Justin Pacquing</td><td><a href="https://github.com/stinographer"></a></td>
  </tr>
  <tr>
    <td>Jeffrey Zou</td><td><a href="https://github.com/JeffreyZou13"></a></td>
  </tr>
</table>

{% endblock %}
