{% extends "layout.html" %}

{% block head %}
{{super()}}
<style type="text/css">
  background-color:"#ADD8E6"
</style>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-offset-3">
	<input type="text" class="form-control" placeholder="Search">
	<span class="input-group-addon">
	  <button type="submit">
	    <span class="glyphicon glyphicon-search">
	    </span>
	  </button>
	</span>
      </div>
    </div>
  </div>
{% endblock %}
